<!--
  Generated template for the Thesaurus page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>
  <ion-grid *ngIf="!loading">
    <h1>Test your knowledge</h1>
    <ion-row *ngFor="let word of randomWords; let i=index">
      <ion-col>
        <ion-item>
          <ion-label floating>{{word.translation}}</ion-label>
          <ion-input type="text" [(ngModel)]="inputs[i]"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <button ion-button (click)="check()">Check</button>
  </ion-grid>
</ion-content>
