<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>
  <ion-card *ngIf="!loading">
    <ion-card-content>
      <h2>Welcome to Tutor</h2>
      <p>
        This app can help you in learning English.
      </p>
      <p>
        Also, you can find here multi-language translator.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-row><ion-col><button ion-button (click)="viewHomeTests()">Our tests</button></ion-col></ion-row>
</ion-content>
