// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.table-col {
  border: solid black 1px;
  text-align: center;
  background: white;
}

.translation-result {
  border: solid black 1px;
  font-size: large;
  background: white;
}

.round-button {
  display:block;
  width:30px;
  height:30px;
  line-height:25px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size:10px;
  font-weight:bold;
}
.round-button:hover {
  background: #262626;
}

ion-spinner svg {
  width: 50px;
  height: 50px;
  stroke: #222;
  fill: white;
  margin: -25px 0 0 -25px;
  position: relative;
  top: 50%;
  left: 50%;
}

ion-spinner {
  left: 50%;
}

ion-content {
  position: absolute;
}

/*ion-content {
  background: url("https://lh6.ggpht.com/T5JGqVG2m-1peoWlezQbdjCzDD57cpHob9pi1KxUyNnMKNvqFkKOvhFEx_CKUt5M4gY=w300");
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}*/

ion-content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTvuzBRZq_IjovIPCOfVEQn8SjWcssUo-TIelmCDVqEsoteeelg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

ion-content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin: auto;
}
